.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;

}
.grids{
    border: 2px solid red;
    background-color: blue;
    text-align: center;
}